crossref/comparators/oracle/src/main/resources/schemas/xml.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  W3C XML namespace attributes schema.
  Source: http://www.w3.org/2001/xml.xsd
  Vendored without the DOCTYPE declaration (which uses parameter entities
  incompatible with Xerces schema loading). The xs:schema content is identical
  to the canonical W3C version.
-->
<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.w3.org/XML/1998/namespace"
  xml:lang="en">

 <xs:annotation>
  <xs:documentation>
   See http://www.w3.org/XML/1998/namespace.html and
   http://www.w3.org/TR/REC-xml for information about this namespace.
  </xs:documentation>
 </xs:annotation>

 <xs:attribute name="lang">
  <xs:simpleType>
   <xs:union memberTypes="xs:language">
    <xs:simpleType>
     <xs:restriction base="xs:string">
      <xs:enumeration value=""/>
     </xs:restriction>
    </xs:simpleType>
   </xs:union>
  </xs:simpleType>
 </xs:attribute>

 <xs:attribute name="space">
  <xs:simpleType>
   <xs:restriction base="xs:NCName">
    <xs:enumeration value="default"/>
    <xs:enumeration value="preserve"/>
   </xs:restriction>
  </xs:simpleType>
 </xs:attribute>

 <xs:attribute name="base" type="xs:anyURI"/>

 <xs:attribute name="id" type="xs:ID"/>

 <xs:attributeGroup name="specialAttrs">
  <xs:attribute ref="xml:space"/>
  <xs:attribute ref="xml:lang"/>
  <xs:attribute ref="xml:base"/>
  <xs:attribute ref="xml:id"/>
 </xs:attributeGroup>

</xs:schema>
