crossref/fixtures/controlled.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://crossref.example/controlled"
    targetNamespace="http://crossref.example/controlled">
  <wsdl:types>
    <xs:schema targetNamespace="http://crossref.example/controlled" elementFormDefault="qualified">
      <xs:element name="Echo">
        <xs:complexType><xs:sequence>
          <xs:element name="Text" type="xs:string" minOccurs="1"/>
        </xs:sequence></xs:complexType>
      </xs:element>
      <xs:element name="EchoResponse">
        <xs:complexType><xs:sequence>
          <xs:element name="Text" type="xs:string" minOccurs="1"/>
        </xs:sequence></xs:complexType>
      </xs:element>

      <!-- Named complexType for EchoNamed operation (Group C: named-type validation) -->
      <xs:complexType name="EchoNamedInputType">
        <xs:sequence>
          <xs:element name="Value" type="xs:string" minOccurs="1"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="EchoNamed" type="tns:EchoNamedInputType"/>
      <xs:element name="EchoNamedResponse">
        <xs:complexType><xs:sequence>
          <xs:element name="Value" type="xs:string" minOccurs="1"/>
        </xs:sequence></xs:complexType>
      </xs:element>

      <!-- Faulty operation: always returns a SOAP fault with a raw XML detail child -->
      <xs:element name="Faulty">
        <xs:complexType><xs:sequence>
          <xs:element name="Trigger" type="xs:string" minOccurs="0"/>
        </xs:sequence></xs:complexType>
      </xs:element>
      <xs:element name="FaultyResponse">
        <xs:complexType><xs:sequence>
          <xs:element name="Result" type="xs:string" minOccurs="0"/>
        </xs:sequence></xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>

  <wsdl:message name="EchoRequest"><wsdl:part name="parameters" element="tns:Echo"/></wsdl:message>
  <wsdl:message name="EchoResponse"><wsdl:part name="parameters" element="tns:EchoResponse"/></wsdl:message>
  <wsdl:message name="EchoNamedRequest"><wsdl:part name="parameters" element="tns:EchoNamed"/></wsdl:message>
  <wsdl:message name="EchoNamedResponse"><wsdl:part name="parameters" element="tns:EchoNamedResponse"/></wsdl:message>
  <wsdl:message name="FaultyRequest"><wsdl:part name="parameters" element="tns:Faulty"/></wsdl:message>
  <wsdl:message name="FaultyResponse"><wsdl:part name="parameters" element="tns:FaultyResponse"/></wsdl:message>

  <wsdl:portType name="ControlledPort">
    <wsdl:operation name="Echo">
      <wsdl:input message="tns:EchoRequest"/>
      <wsdl:output message="tns:EchoResponse"/>
    </wsdl:operation>
    <wsdl:operation name="EchoNamed">
      <wsdl:input message="tns:EchoNamedRequest"/>
      <wsdl:output message="tns:EchoNamedResponse"/>
    </wsdl:operation>
    <wsdl:operation name="Faulty">
      <wsdl:input message="tns:FaultyRequest"/>
      <wsdl:output message="tns:FaultyResponse"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="ControlledBinding" type="tns:ControlledPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Echo">
      <soap:operation soapAction="http://crossref.example/controlled/Echo"/>
      <wsdl:input><soap:body use="literal"/></wsdl:input>
      <wsdl:output><soap:body use="literal"/></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EchoNamed">
      <soap:operation soapAction="http://crossref.example/controlled/EchoNamed"/>
      <wsdl:input><soap:body use="literal"/></wsdl:input>
      <wsdl:output><soap:body use="literal"/></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Faulty">
      <soap:operation soapAction="http://crossref.example/controlled/Faulty"/>
      <wsdl:input><soap:body use="literal"/></wsdl:input>
      <wsdl:output><soap:body use="literal"/></wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="ControlledService">
    <wsdl:port name="ControlledPort" binding="tns:ControlledBinding">
      <soap:address location="http://localhost/soap"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
