crossref/snapshots/wsdl_rewrite_multi.xml

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions targetNamespace="http://example.com/multi" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://example.com/multi" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <wsdl:types>
        <xs:schema elementFormDefault="qualified" targetNamespace="http://example.com/multi">
            <xs:element name="OpA">
                <xs:complexType><xs:sequence/></xs:complexType>
            </xs:element>
            <xs:element name="OpAResponse">
                <xs:complexType><xs:sequence/></xs:complexType>
            </xs:element>
            <xs:element name="OpB">
                <xs:complexType><xs:sequence/></xs:complexType>
            </xs:element>
            <xs:element name="OpBResponse">
                <xs:complexType><xs:sequence/></xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>

    <wsdl:message name="OpARequest">
        <wsdl:part element="tns:OpA" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="OpAResponse">
        <wsdl:part element="tns:OpAResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="OpBRequest">
        <wsdl:part element="tns:OpB" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="OpBResponse">
        <wsdl:part element="tns:OpBResponse" name="parameters"/>
    </wsdl:message>

    <wsdl:portType name="PortTypeA">
        <wsdl:operation name="OpA">
            <wsdl:input message="tns:OpARequest"/>
            <wsdl:output message="tns:OpAResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="PortTypeB">
        <wsdl:operation name="OpB">
            <wsdl:input message="tns:OpBRequest"/>
            <wsdl:output message="tns:OpBResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="BindingA" type="tns:PortTypeA">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="OpA">
            <soap:operation soapAction="http://example.com/multi/OpA"/>
            <wsdl:input><soap:body use="literal"/></wsdl:input>
            <wsdl:output><soap:body use="literal"/></wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="BindingB" type="tns:PortTypeB">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="OpB">
            <soap:operation soapAction="http://example.com/multi/OpB"/>
            <wsdl:input><soap:body use="literal"/></wsdl:input>
            <wsdl:output><soap:body use="literal"/></wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="ServiceA">
        <wsdl:port binding="tns:BindingA" name="PortA">
            <soap:address location="http://localhost/soap/a"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:service name="ServiceB">
        <wsdl:port binding="tns:BindingB" name="PortB">
            <soap:address location="http://localhost/soap/b"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
